.header {
	background-color: #0d0d0d;
	min-width: 100%;
	padding: 6px 0 6px 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navBar {
	.nav_list {
		text-transform: uppercase;
		display: flex;

		@media (max-width: 400px) {
			font-size: 12px;
		}

		li {
			&:not(:last-child) {
				margin-right: 15px;
			}
		}
	}

	.about_button {
		@media (min-width: 700px) {
			display: none;
		}
	}
}

.about {
	display: inline-block;
	.avatar {
		max-width: 100px;
		max-height: 100px;
		border-radius: 50%;
		overflow: hidden;
		margin: 0 auto;
		margin-top: -50px;
		z-index: 100;

		img {
			border: 2px solid #fff;
			width: 100%;
			height: 100%;
		}
	}

	.name {
		font-size: 18px;
		text-align: center;
		margin-top: 19px;
		font-weight: 400;
	}

	.tel {
		display: block;
		text-align: center;
		margin-bottom: 20px;
	}

	.profession {
		font-size: 14px;
		font-weight: 200;
		text-align: center;
		color: #dedede;
		margin-top: 4px;
	}

	.socialMedia {
		display: flex;
		justify-content: center;
		padding: 0;
		margin-top: 18px;
		margin-bottom: 20px;

		li {
			margin: 0 10px;
		}
	}

	.aboutText {
		font-size: 12px;
		text-align: center;
		padding: 0 20px;
		line-height: 18px;
		max-width: 400px;
	}
}

.search_wraper {
	position: relative;
	margin-right: 10px;

	.search {
		background-color: #2d2d2d;
		padding: 5px 25px 5px 10px;
		border-radius: 4px;
		@media (max-width: 400px) {
			width: 180px;
		}

		&::placeholder {
			color: #fff;
		}
	}
	img {
		position: absolute;
		top: 2px;
		right: 2px;
		width: 20px;
		height: 20px;
	}
}
